RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
php_value memory_limit 2048M
php_value post_max_size 2048M
php_value upload_max_filesize 2048M
php_value session.gc_maxlifetime 10800
php_value max_input_time         10800
php_value max_execution_time     10800